:root {
  --yellow: #ffba00;
  --yellow100: #fff3d4;
  --blue: #0091ff;
  --blue100: #f0f9ff;
  --blue200: #d7eeff;
  --blue300: #455f7e;
  --blue400: #29476a;
  --gray: #7e90a6;
  --black: #031019;
  --white: #ffffff;
  --green: #00cd69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  display: flex;
  background: var(--white);
  padding: 20px;
  height: 100vh;
}

.asideBarRight {
  max-width: 346px;
  width: 100%;
}
.asideBarRight header {
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 34px;
}

.asideBarRight .image {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 47px;
}

.asideBarRight > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.asideBarRight strong {
  font-size: 22px;
  font-weight: 500;
  margin-top: 8px;
}

.asideBarRight p {
  color: var(--blue);
  font-weight: 14px;
  font-weight: 400;
}
